In [1]:
# collate extracted data into single table, with some post-processing.

import pandas
import pathlib

def collate_extract(extract_path):

    # collate and format individual data extracts into a single table.

    df = pandas.DataFrame(columns=['work', 'agent', 'character_name'])
    extract_data = [x for x in extract_path.iterdir() if x.suffix == '.txt']
    for x in extract_data:
        print(x)
        with open(x, encoding='utf-8') as txt_file:
            txt_file = txt_file.read().split('\n')[:-1]
        for y in txt_file:
            z = y.split(' ')
            df.loc[len(df)] = [(z[0]), (z[1]), (' '.join(z[2:]))]

    return df

def post_clean(row):

    # remove some outstanding junk.

    char = row['character_name']
    char = char.split('[')[0]
    char = char.split('(as ')[0]
    char = char.replace('(guest role)', '')
    char = char.replace('(special appearance)', '')    
    char = char.replace('(uncredited)', '')
    char = char.replace('(Uncredited)', '')
    char = char.replace('(cameo)', '')    
    char = char.replace('Himself', '')    
    char = char.replace('himself', '')  
    char = char.strip()      
    return char

save_path = pathlib.Path.cwd() / 'data' / 'filmcreditname.csv'
if not save_path.exists():
    dataframe = collate_extract(pathlib.Path.cwd().parents[0] / 'get' / 'data')
    dataframe['character_name'] = dataframe['character_name'].fillna('')
    dataframe['character_name'] = dataframe.apply(post_clean, axis=1)
    dataframe.to_csv(str(save_path), index=False)
else:
    dataframe = pandas.read_csv(save_path)

print(len(dataframe))
dataframe.head()

631607

        work      agent character_name
0  Q21795364   Q1231066         Fausto
1  Q21795364    Q234015         Nadine
2  Q21795364   Q4007861         Sandro
3  Q21795364  Q15110818      Francesca
4  Q21795364   Q1541570   Alfredo Wiel